// HEADINGS
.h1{
    font-size: clamp(1.8rem, 5vw, 3rem) !important;
    font-weight: 500 !important;
    letter-spacing: -1px;
}

#intro{
    font-weight: 600;

    .font-stack-1{
        position: relative;

        .feather{
            position: absolute;
            right: -29px;
            bottom: -4px;
        }
    }

    code{
        font-family: $font-stack;
    }
}
// HEADINGS

// BORDERS
.rounded{
    border-radius: $card-radius !important;
}

.rounded-top{
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
}
// ENDS HERE

// NAVIGATION
.navbar{
    background-color: $white;
    padding: 1rem;

    .navbar-brand{
        border: none;
        background-color: transparent;
        outline: none;
    }
    
    .nav-link{
        outline: none;
        border: none;
        background-color: transparent;
        font-size: $font-size;
        color: $dark;
        font-weight: 500;

        &:hover{
            color: $primary !important;
        }
    }
}

.active{
    color: $primary !important;
    font-weight: 600;
}
// ENDS HERE

// BUTTONS
.btn{
    border-radius: $radius !important;
    padding: 10px 25px;
    font-weight: 500;
    font-size: $font-size !important;
}
// ENDS HERE

// CARDS
.card{
    border-radius: 0px;
    border: none;
    background-color: $white;

    .card-img{
        img{
            width: 100%;
            height: 250px;
            object-fit: fill;
        }
    }
    
    .card-header{
        border: none;
        background-color: transparent;
    }

    .card-footer{
        border: none;
        background-color: transparent;
    }
}
// ENDS HERE

// FONT
.font-weight-bolder{
    font-weight: 800 !important;
}
// ENDS HERE

// BADGE
.badge{
    background-color: #eee;
    color: $dark;
    font-weight: 500;
    font-size: 0.875rem;
    border: $border;
    border-radius: $radius;
}
// ENDS HERE

// FORMS
.input-group{
    label{
        font-weight: 500;
        @extend .text-muted;
    }

    .form-control{
        width: 100%;
        border-radius: $radius !important;
        font-size: $font-size;

        &:focus{
            font-weight: 500;
        }
    }

    .custom-control{
        display: inline;
        margin-right: 15px;
    }

    .custom-control-label{
        font-weight: normal;
        
        &::after{
            top: 3px;
        }

        &::before{
            top: 0.2rem;
        }
    }
    
    .invalid-feedback{
        font-weight: 500 !important;
        font-size: $font-size;
    }
}
// ENDS HERE

// list group
.list-group{
    .list-group-item{
        background-color: transparent;
        padding: 10px 0;
        border: none;
    }
}