@include media-breakpoint-only(xs) {
    .mobile-w-100{
        width: 100% !important;
    }
}

@include media-breakpoint-only(sm) {

}

@include media-breakpoint-between(xs, sm) {
    .container:not(.from-nav){
        @extend .mobile-padding;
    }

    #avatar{
        width: 150px;
        height: 150px;
    }

    .mobile-padding{
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .mobile-bg-white{
        background-color: #fbfbfb;
    }

    .card-service .card-icon .blob{
        left: -16px !important;
        top: -25px;
    }

    .h2{
        font-size: 1.4rem !important;
    }

    .fixed-top{
        position: static;
    }

    .hero-on-mobile{
        background-image: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,0.5)), url("../images/hero.png");
        background-size: cover;

        .text-muted{
            color: $body-bg !important;
        }

        .h1{
            color: $white;
        }
    }

    .service-cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .dropdown{
        top: 270px;
    }

    .bg-banner{
        height: 300px;
    }
}

@include media-breakpoint-only(md) {
    
}

@include media-breakpoint-between(lg, xl){
    .nav-item{
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }
    }
}

@include media-breakpoint-only(lg) {
    
}

@include media-breakpoint-only(xl) {
    
}